* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 375px;
  display: block;
  background-color: #202124;
  /* border: #ffffff solid; */
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  /* border: solid pink; */
}

#nav-1 ul {
  display: flex;
  list-style: none;
  padding: 10px;
  color: white;
}

#nav-2 ul {
  display: flex;
  list-style: none;
  padding: min(1vw);
  color: white;
}

#nav-3 ul {
  display: flex;
  list-style: none;
  padding: min(1vw);
  color: white;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.dropdown-content a {
  display: none;
  position: relative;
  right: 30px;
}

.search-container {
  /* border: orange solid; */
  width: 100vw;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 290px;
}

.labelbox {
  color: #ffffff;
  max-height: 200px;
  min-height: 200px;
  height: calc(100vh - 560px);
  display: flex;
}

.label {
  font-size: 10vw;
  position: relative;
  margin-top: auto;
}

.label2 {
  font-size: 10vw;
  position: relative;
  margin-top: auto;
  left: 20px;
}

#homeform {
  /* border: green solid; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding: 15px 0 0 0;
}

#search-field {
  padding: 10px;
  border-radius: 50px;
  width: 60vw;
  height: min(4vw, 50px);
  background-color: transparent;
  border: gray solid 0.5px;
  color: #ffffff;
}

#images-text {
  position: relative;
  /* border: green solid; */
  top: 95%;
  right: 5%;
  color: #4487f6;
  font-size: 3vw;
}

.empty-block {
  width: 100%;
  height: 100vh;
}

.search-buttons {
  /* border: green solid; */
  display: flex;
  width: 100%;
  justify-content: center;
}

#search-button {
  /* width: 25vw; */
  padding: 1.5%;
  margin: 15px 5px;
  font-size: 2vw;
  background-color: #303134;
  border: 1px solid #303134;
  color: #ffffff;
}

.main-container {
  border: 3px lime solid;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
}

.main-content {
  width: 100%;
  height: 50vh;
  /* border: purple solid; */
}

.advanced-box {
  width: 100%;
}

.adv-label {
  color: #f28b82;
  font-size: min(20px, 2vw);
  margin: 2% 0 1.5% 3%;
  width: 100%;
}

.line {
  border: #3c4043 0.5px solid;
}

.form-container {
  /* border: #4487f6 solid; */
  min-width: 200px;
  width: 100%;
  height: 80%;
  /* margin: 40px 2% 0 45px; */
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3% 0 0 4%;
}

.line1 {
  /* height: 14%; */
  width: 100%;
  display: flex;
}

.find-pages {
  float: left;
  min-width: 167px;
  width: 16%;
  font-size: min(16px, calc(3vw / 2));
  min-height: 2vw;
  font-weight: 500;
  color: #e8eaed;
  vertical-align: middle;
}

.blank {
  width: min(60%, 600px);
}

.to-do {
  width: 16%;
  font-size: min(13px, calc(3vw / 2));
  color: #e8eaed;
  float: left;
}

.line2 {
  height: min(14%, 4vh);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1% 0 0 0;
  /* border: #f28b82 solid; */
}

.all-these {
  width: 16%;
  min-width: calc(150px - 16%);
  font-size: min(13px, calc(3vw / 2));
  color: #bdc1c6;
  float: left;
}

.textinput {
  width: min(60%, 600px);
  height: min(80%, 3vw);
  background: #202124;
  border: 1px solid #5f6368;
  color: #bdc1c6;
  margin: 0 1% 0 0;
}

.end-text1 {
  color: #969ba1;
  font-size: min(11px);
  /* margin: 0 0 0 1%; */
  white-space: pre;
  width: 30%;
  /* border: #4487f6 solid; */
  line-height: 2;
}

.accent {
  color: #dadce0;
  font-family: monospace;

}
.accent2 {
  color: #dadce0;
  font-family: monospace;
  float: left;
}

.end-text2 {
  color: #969ba1;
  font-size: min(11px);
  white-space: pre;
  width: 30%;
  line-height: 1;
}

@media screen and (max-width: 1200px) {
  .end-text1,
  .end-text2,
  .end-text3,
  .end-text4,
  .end-text5,
  .to-do {
    display: none;
  }
}
